/*small phones 1024 to 1200px..*/
@media only screen and (max-width: 1200px){
	.hero-text-box{
		width: 100%;
		padding: 0 250px;

	}
	.row{
		
		padding:0 2%;
	}
	.box1{
		margin-right: 10px;
	}
}


/*small phones 768 to 1023px..*/
@media only screen and (max-width: 1158px){
	.row{
		width: 100%;
	}
	h1{
	margin-top: 0px;
	word-spacing: 3px;
	margin-bottom: 20px;
	color:#fff;
	font-size: 175%;
	
}
/*small phones  481 less than 767px..*/
@media only screen and (max-width: 1023px){
	.row{width: 100%;}
	.contact-form{width:80%;margin: 0px auto;}
	h1{
	margin-top: 0px;
	word-spacing: 3px;
	margin-bottom: 20px;
	color:#fff;
	font-size: 140%;}
	.box1 {
    margin-right: 0px;
		}
		.works-step:last-of-type {
     margin-bottom: 10px; 
		}
		.works-step p{font-size: 100%;}
		h2{font-size: 180%;}
		.icon-small{width: 17px;margin-right: 5px;}
		.plan-price{font-size: 225%;font-weight: 300;}
		.span-1-of-4{width:50%;}
		.adjust1{margin-top: 10px;}
		.btn-app img{width: 100px;height:auto;}
		blockquote{line-height: 100%;}
		blockquote:before{font-size: 250%;}
		.box1{height: 250px;}
		.btn:link{
			margin-right: 15px;
			margin-bottom: 15px;
		}
}


/*small phones  481 less than 767px..*/
@media only screen and (max-width: 886px){
	.row{width:100% ;}
}

/*small phones 0 to 480px..*/
@media only screen and (max-width: 480px){

}


